.bgimg6{
	background-image:  url('https://th.bing.com/th/id/OIP.aVZ2RxPP8FEyXz5ciIoeLQHaEK?w=276&h=180&c=7&r=0&o=5&pid=1.7');
	background-size: cover;
	height: 200vh;
}
.headfirst{
	color: white;
	font-family: Andika;
	font-weight: bold;
	font-size: 30px; 
	padding: 25px;
}
.bgcarouselcard{
    background-color: white;
	font-family: 'Andika';
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	margin: 100px;
	margin-top: 15px;
}
.cardcon{
	padding: 20px;
}
.headsecond{
	color: blue;
	font-family: Andika;
	font-weight: bold;
	font-size: 20px; 
}
.paraline{
	color: #ffffff;
	font-family: 'Andika';
	font-size: 13px;
}